/score_dec_tree_A.json
/score_reg_a.json
/score_net_A.json
/score_dec_tree_B.json
/score_reg_B.json
/score_net_B.json
/score_dec_tree_C.json
/score_reg_C.json
/score_net_C.json
/score_dec_tree_D.json
/score_reg_D.json
/score_net_D.json
/score_dec_tree_E.json
/score_reg_E.json
/score_net_E.json
/score_log_A.json
/score_dt_A.json
/score_dt_B.json
